<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    　
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/home/dev/log/app/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- 3rdparty Loggers -->
    <logger name="org.springframework" level="WARN"/>

    <logger name="org.hibernate" level="ERROR"/>

    <logger name="org.hibernate.SQL" level="ERROR"/>

    <logger name="org.thymeleaf" level="ERROR"/>

    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</configuration>